/* Header */

.dope-nav-container {
    position: fixed;
    z-index: 1010;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fffffff2;
    padding: 5px 0;
}

.dope-navbar .nav-brand {
    display: block;
    margin: 0 auto;
}


/* Banner Section */

.banner-section {
    min-height: 950px;
}

.banner-section .banner-left h1 {
    font-size: 45px;
    margin-bottom: 10px;
}


/* Other */

.price-section .single-price .top-wrap p {
    font-size: 16px;
    font-style: italic;
    color: #f4f4f4;
    margin-top: 5px;
}

.price-section .single-price .top-wrap i {
    font-size: 62px;
    margin-bottom: 30px;
}

.price-section .single-price .bottom-wrap p {
    font-size: 18px;
    line-height: 24px;
}

.price-section .price-right .main {
    text-align: center;
}

.download-section .dload-btn i {
    margin-left: 10px;
    font-size: 18px;
}

.dope-navbar .nav-brand {
    padding: 10px;
}


/* Clients */

.featured-section {
    padding: 50px 0 0;
}

.featured-section h2 {
    font-size: 42px;
}

.featured-section .single-logo img {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
}

.accredited {
    text-align: center;
}

.accredited h2 {
    margin: 20px 0 30px;
}


/* Featured Section */

.feature-section {
    padding: 80px 0;
    background-color: #eeeeee;
}

.feature-section .heading-tag-feature {
    text-align: center;
}

.feature-section .heading-tag-feature p {
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 60px;
}

.featured-section .row {
    border: none;
}


/* Contcat Section */

.download-section.section-gap-full {
    padding: 80px 0 50px;
}

.download-section .authno {
    text-align: center;
}

.download-section .dload-btn {
    text-align: center;
}

.download-section h4 {
    font-weight: 400;
    text-align: center;
    color: #8c8d9e;
    margin-top: 30px;
}


/* Footer */

.footer-section {
    padding: 50px 0 40px;
    background: white;
}

.footer-section .footer-left img {
    width: 200px;
}

.footer-section .copyright-text {
    text-align: right;
}

.footer-section h5 {
    color: #989561;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}


/* Brand Section */

.brand-section {
    padding: 150px 0;
    text-align: center;
    background-color: #fff0dc;
}

.brand-section h1 {
    margin-bottom: 20px;
    color: #a09a6f;
}


/* Broker section */

.broker-section {
    text-align: center;
    padding: 50px 0;
    background-color: #fff0dc;
}

.broker-section .primary-btn {
    margin-top: 30px;
}

.broker-section .primary-btn i {
    font-size: 18px;
    margin-left: 6px;
}